<div class="container mt-5 d-flex justify-content-center">
   
   
    <div class="card text-bg-primary mb-3 " style="max-width: 18rem; ">
        <div class="card-header text-center">
            <h2>Weather App</h2>
            <p><img src="{{iconUrl}}" alt="gggg"></p>
        </div>

        <div class="card-body ">
          <p class="card-title">Summary: {{summary}}</p>
          <p class="card-title">Min Temparatur: {{minTemp}} °C</p>
          <p class="card-title">Temperatur: {{temparatur}} °C</p>
          <p class="card-title">Max Temperatur: {{maxTemp}} °C</p>
          <p class="card-title">Feels like: {{feelsTemp}} °C</p>
          <p class="card-title">Pressure: {{pressure}}%</p>
          <p class="card-title">Humidity: {{humity}} %</p>
        </div>
      

    </div>
</div>


